/* ---------- Radiobuttons ---------- */

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--br-circle);
  background-color: var(--background-primary);
  cursor: pointer;
  display: inline-grid;
  place-content: center;
  vertical-align: middle;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;

  &::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    border-radius: var(--br-circle);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
  }

  &:hover {
    border-color: var(--color-primary);
  }

  &:checked {
    background-color: var(--background-primary);
    border-color: var(--color-primary);
  }

  &:checked::before {
    transform: scale(1);
    box-shadow: inset 1rem 1rem var(--color-primary);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    & + label {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.font-toggle__option:has(:hover),
.font-toggle__option:has(:focus-visible) {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.15em;
}

[data-theme="dark"] .font-toggle__option:has(:hover),
[data-theme="dark"] .font-toggle__option:has(:focus-visible) {
  text-decoration-color: var(--color-secondary);
}

[data-theme="dark"] input[type="radio"] {
  &:hover {
    border-color: var(--color-secondary);
  }

  &:checked {
    border-color: var(--color-secondary);
    &:before {
      box-shadow: inset 1rem 1rem var(--color-secondary);
    }
  }
}
